.tennis-ball-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.tennis-ball {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #c9f364;
  overflow: hidden;
  animation: ball-bounce 1.5s linear infinite;
  box-shadow:
    inset -10px -10px 16px rgba(0, 0, 0, 0.35),
    inset 10px 10px 16px rgba(0, 0, 0, 0.35),
    0 10px 16px rgba(0, 0, 0, 0.25);
}

.tennis-ball::before,
.tennis-ball::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  background: transparent;
  border: 5px solid #fff;
  filter: blur(1px);
}

.tennis-ball::before {
  left: -65%;
}

.tennis-ball::after {
  right: -65%;
}

.tennis-ball__shadow {
  position: absolute;
  width: 120px;
  height: 40px;
  background: rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  z-index: -1;
  filter: blur(6px);
  animation: shadow 1.5s linear infinite;
}

@keyframes ball-bounce {
  0% {
    transform: translate(-50%, -50%) translateY(-200px) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) translateY(0px) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) translateY(-200px) rotate(360deg);
  }
}

@keyframes shadow {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
